* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antianaliased;
    -moz-osx-font-smoothing: greyscale;
}
ul { 
    list-style: none;
}

a { 
    text-decoration: none;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    max-width: 128rem;
    margin: 0 auto;
}

main:after{
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.059) 60%, rgba(0, 0, 0, 1) 90%);
	z-index: -1;
}

.carrosel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.carrosel .imagem{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: none;
}

.carrosel .imagem.ativa{
    display: block;
    animation: 7s;
}

.conteudo{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

.informacoes .logo{
    max-width: 40rem;
    filter: invert(1);
    margin-bottom: 8rem;
}

.informacoes .descricao{
    width: 46%;
    font-size: 2rem;
    color: #fff;
    line-height: 3rem;
}

.botoes-carrosel{
    display: flex;
    justify-content:center;
    gap: 2rem;
}

.botoes-carrosel .botao{
    background-color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: .2rem solid transparent;
    cursor: pointer;
    border-color: #fff;
}

.botoes-carrosel .botao.selecionado{
    background-color: #1d8346;
}

.menu-lateral{
    position: fixed;
    width: 8rem;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu.lateral ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu-lateral .icone{
    width: 3rem;
    filter: invert(1);
    transition: .3s ease-in-out;
}


@keyframes mudarImagem{
    from{
        opacity: .85s;
    }
    to{
        opacity: 1;
    }
}

@media (max-width:1280px) {
    body{
        padding: 0 4rem;
    }
}

@media (max-width: 768px) {
    .informacoes{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .informacoes .descricao {
        width: 60%;
        text-align: center;
    }
}

@media(max-whirth: 425px){
    .informacoes .logo{
        max-width: 30rem;
    }

    .informacoes .descricao{
        width: 100%;
    }

    .menu-lateral{
        position: static;
        min-height: auto;
        width: 100%;
        margin-top: 5rem;
    }

    .menu-lateral ul{
        flex-direction: row;
    }

    .conteudo{
        min-height: 70vh;
        gap: 5rem;
    }

    .body{
        padding: 4rem;
    }
}